
.popup {
    z-index: 1025;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: $color-black, $alpha: .8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    &:target &__content {
        opacity: 1;
        transform: scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-gray-dark;
            text-decoration: none;
            font-size: 3rem;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            display: inline-block;
            line-height: 1;
            transition: all .3s;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__content {    
        position: fixed;
        width: 70%;
        background-color: white;
        top: 15%;
        left: 15%;
        box-shadow: 0 2rem 2rem rgba($color: $color-black, $alpha: .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        transform: scale(0.25);
        opacity: 0;
        transition: all .3s;
    }

    &__right {
        width: 33.3333333333%;
        display: table-cell;
        vertical-align: middle;

        @include respond (tab-land) {
            display: table-row;
        }
    }

    &__left {
        display: table-cell;
        vertical-align: middle;
        width: 66.6666666667%;
        padding: 3rem 5rem;
        
    }

    &__image {
        display: block;
        width: 100%;

        @include respond (tab-land) {
            width: 50%;
            display: inline-block;
            height: 25rem;
        }
    }

    &__text {
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;
        hyphens: auto;
    }
}